* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #936846;
}

h1 {
    color: #35210c;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #35210c;
}

.input-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #35210c;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-box button:hover {
    background-color: #35210c;
}

.input-box a {
    text-decoration: none;
}

img {
    width: 75%;
    display: block;
    margin: 0 auto 50px;
}