
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins," sans-serif;
    animation: bgcolor infinite 20s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.wrapper{
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.453);
    color: #fff;
    border-radius: 10px;
}

.wrapper h1{
     font-size: 36px;
     text-align:center;
}

.wrapper .input-box{
    width: 80%;
    height: 50px;
    margin: 12px 40px;
    text-align:center;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    text-align:center;
}

.input-box i{
    right: 20px;
    top: 40%;
    transform: translateY(-400%);
    transform: translateX(+2000%);

    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}



@keyframes bgcolor{
    0%
    {
        background:#e74c3c;
    }
    20%
    {
        background:#2980b9;
    }
    40%
    {
        background:#f1c40f;
    }
    60%
    {
        background:#8e44ad;
    }
    80%
    {
        background:#34495e;
    }

}



